:root {
	/* Farben */
	--bgcMain: 20 5% 75%;
	--txtMain: 0 100% 100%;
	--bgcBackground: 60 0% 10%;
	--txtBackground: 0 100% 100%;
	--bgcButton: 0 0% 100%;
	--txtButton: 0 0% 0%;
	--bgcButtonPositive: 120 100% 50%;
	--txtButtonPositive: 0 0% 0%;
	--bgcButtonNegative: 0 100% 44%;
	--txtButtonNegative: 0 0% 100%;
	/* UserInterface SIZES */
	--navbarHeight: 2.5rem;
	--maxWidthContent: 80%;
	--padding: 0.5rem;
	/* --gridGap: 1.5rem; */
	--cardGap: 0.25rem;
	--paddingVertical: 0.167rem;
	--mainMargin: auto 10rem;
	--UIPadding: 0.2rem;
	--CardsWidth: 36rem;
	--ImgPreviewWidth: 15rem;
	--imgSize: 1.25rem;
	--UIRadius: 0.2rem;
	--filter: 1;
	/* Borders */
	--UIBorderThin: 0.042rem solid hsl(var(--bgcMain));
	--UIBorderThick: 0.067rem solid hsl(var(--bgcMain));
	/* Fonts and Timedelays */
	--trT-short: 0.3s;
	--trT-long: 0.5s;
	--fs-Base: 16px;
	--fs-Medium: 1.1rem;
	--fs-Large: 1.2rem;
	--fw-Base: 400;
	--fw-500: 500;
	--fw-600: 600;

	--UIHeight1: 1.5rem;
	--UIHeight2: calc(var(--UIHeight1) * 2);
	--UIHeight3: calc(var(--UIHeight1) * 3);

	--UIWidth1: calc(var(--UIHeight1) * 1);
	--UIWidth2: calc(var(--UIHeight1) * 2);
	--UIWidth3: calc(var(--UIHeight1) * 3);
	--UIWidth4: calc(var(--UIHeight1) * 4);
	--UIWidth5: calc(var(--UIHeight1) * 5);
	--UIWidth6: calc(var(--UIHeight1) * 6);
	--UIWidth7: calc(var(--UIHeight1) * 7);
	--UIWidth8: calc(var(--UIHeight1) * 8);
	--UIWidth9: calc(var(--UIHeight1) * 9);
	--UIWidth10: calc(var(--UIHeight1) * 10);
	--UIWidth11: calc(var(--UIHeight1) * 11);
	--UIWidth12: calc(var(--UIHeight1) * 12);
	--UIWidth13: calc(var(--UIHeight1) * 13);
	--UIWidth14: calc(var(--UIHeight1) * 14);
	--UIWidth15: calc(var(--UIHeight1) * 15);
	--UIWidth16: calc(var(--UIHeight1) * 16);
	--UIWidth17: calc(var(--UIHeight1) * 17);
	--UIWidth18: calc(var(--UIHeight1) * 18);
	--UIWidth19: calc(var(--UIHeight1) * 19);
	--UIWidth20: calc(var(--UIHeight1) * 20);
	--UIWidth30: calc(var(--UIHeight1) * 30);
}

/* ----------------- FONTS ----------------- */

@font-face {
	font-family: "PTSerif";
	src: url("font/pt-serif-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PTSerif";
	src: url("font/pt-serif-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PTSerif";
	src: url("font/pt-serif-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "PTSerif";
	src: url("font/pt-serif-italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "PTSerif", arial;
	font-size: var(--fs-Base);
	font-weight: var(--fw-Base);
	line-height: 1.48;
	letter-spacing: 0.05rem;
	display: -webkit-box;
	display: flex;
	background-color: hsl(var(--bgcBackground));
	color: hsl(var(--txtBackground));
	-webkit-transition: all var(--trT-long) ease-in-out;
	-o-transition: all var(--trT-long) ease-in-out;
	transition: all var(--trT-long) ease-in-out;
	-webkit-box-pack: center;
	justify-content: center;
}

h1 {
	font-size: var(--fs-Medium);
	font-weight: var(--fw-Base);
	text-align: center;
	text-justify: center;
}

h2 {
	font-size: var(--fs-Medium);
	font-weight: var(--fw-Base);
	text-align: center;
	padding-bottom: var(--padding);
}

h3 {
	font-size: var(--fs-Medium);
	font-weight: var(--fw-Base);
	text-align: justify;
	padding: var(--padding);
}

div,
a {
	/* font-size: var(--fs-Base);
	font-weight: var(--fw-Base); */
	/* border: none; */
	color: hsl(var(--txtBackground));
}

input,
select,
button {
	font-family: "PTSerif", arial;
	font-size: var(--fs-Base);
	font-weight: var(--fw-Base);
	height: var(--UIHeight1);
	text-decoration: none;
	background-color: hsl(var(--bgcButton));
	color: hsl(var(--txtButton));
	border: var(--UIBorderThin);
	border-radius: var(--UIRadius);
	cursor: pointer;
	vertical-align: middle;

	max-width: var(--UIWidth16);
	transition: all var(--trT-short) ease-in-out;
}

select {
	text-indent: var(--padding);
	border-right: var(--UIBorderThick);
	border-bottom: var(--UIBorderThick);
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
select:disabled {
	background-color: hsl(var(--bgcMain) / 0.1);
	color: hsl(var(--txtMain));
	cursor: default;
}

input:hover,
select:hover,
button:hover {
	background-color: hsl(var(--bgcMain) / 0.9);
	color: hsl(var(--txtMain));
	transition-duration: 0.1s;
	transition-delay: 0s;
}

label {
	vertical-align: middle;
	border: var(--UIBorderThin);
}

label[for] {
	cursor: pointer;
}
p {
	text-align: left;
}

span {
	display: block;
	text-align: justify;
	hyphens: auto;
	margin-bottom: 1rem;
}

img {
	width: 100%;
	-webkit-transition: all var(--trT-long) ease-in-out;
	-o-transition: all var(--trT-long) ease-in-out;
	transition: all var(--trT-long) ease-in-out;
}

/*-----------------NAVBAR -----------------*/
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbarHeight);
	background: hsl(var(--bgcBackground));
	display: grid;
	grid-gap: var(--padding);
	grid-auto-flow: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	overflow: hidden;
	-webkit-transition: all var(--trT-long) ease-in-out;
	-o-transition: all var(--trT-long) ease-in-out;
	transition: all var(--trT-long) ease-in-out;
	z-index: 100;
}

/* Line below the Nav */
nav:after {
	content: "";
	position: absolute;
	left: 10%;
	bottom: 0px;
	width: var(--maxWidthContent);
	margin: auto;
	border-bottom: var(--UIBorderThick);
}

.cl_navElements {
	color: hsl(var(--txtMain));
	padding: var(--padding);
	font-size: var(--fs-Large);
	/* font-weight: bold; */
	-webkit-transition: all var(--trT-short) ease-in-out;
	-o-transition: all var(--trT-short) ease-in-out;
	transition: all var(--trT-short) ease-in-out;
	cursor: pointer;
}

.cl_navElements:hover,
.cl_navElements:focus {
	background: hsla(var(--bgcMain) / 0.3);
}

.highlight,
.highlight:hover,
.highlight:focus {
	background: hsla(var(--bgcMain) / 0.3);
	cursor: pointer;
}

.cl_darkmodeBtn {
	width: calc(var(--footerHeight) * 0.4);
	aspect-ratio: 1;
}

/* --------------------------------------------main AREA -------------------------------------------*/
main {
	--navBottomSpacing: calc(var(--navbarHeight) * 1.5);
	display: -webkit-box;
	display: flex;
	position: relative;
	width: var(--maxWidthContent);
	top: var(--navBottomSpacing);
	min-height: calc(100vh - var(--navBottomSpacing) var(--footerHeight));
	-webkit-box-pack: center;
	justify-content: center;
	padding-bottom: var(--footerHeight);
}

section {
	margin: var(--padding);
	-webkit-box-pack: center;
	justify-content: center;
	width: var(--maxWidthContent);
}

.cl_section_horizontal {
	display: grid;
	height: fit-content;
	grid-template-rows: auto;
	grid-gap: var(--cardGap);
	-webkit-box-pack: center;
	justify-content: center;
	align-items: center;
}

/* .section_width_1 {
	max-width: calc(var(--CardsWidth) * 1);
}
.section_width_2 {
	max-width: calc(var(--CardsWidth) * 2);
}
.section_width_3 {
	max-width: calc(var(--CardsWidth) * 3);
}
.section_width_4 {
	max-width: calc(var(--CardsWidth) * 4);
} */

.cl_spanAll {
	grid-column: 1 / span all;
}

.cl_OcjeneSheet {
	width: 100%;
}
.cl_subGrid_Ocjene {
	display: grid;
	grid-template-areas:
    /* 1 GENERATE */
		". cl_OcjeneSheet cl_OcjeneGenerate cl_OcjeneGenerate cl_OcjeneGenerate ."
		/* 2 LEVEL */
		". cl_OcjeneSheet cl_OcjeneLevelHeader cl_OcjeneLevelHeader cl_OcjeneLevelHeader ."
		". cl_OcjeneSheet cl_OcjeneLevelselect1 cl_OcjeneLevelselect1 cl_OcjeneLevelselect1 ."
		". cl_OcjeneSheet cl_OcjeneLevelselect2 cl_OcjeneLevelselect2 cl_OcjeneLevelselect2 ."
		". cl_OcjeneSheet cl_OcjeneLevelExercise cl_OcjeneLevelExercise cl_OcjeneLevelExercise ."
		/* 3 ISNTRUMENT */
		". cl_OcjeneSheet cl_OcjeneInstrumentHeader cl_OcjeneInstrumentHeader cl_OcjeneInstrumentHeader ."
		". cl_OcjeneSheet cl_OcjeneInstrument cl_OcjeneInstrument cl_OcjeneInstrument ."
		". cl_OcjeneSheet cl_OcjeneLimitRange cl_OcjeneLimitRange cl_OcjeneLimitRange ."
		/* 4 ALLGEMEIN */
		". cl_OcjeneSheet cl_OcjeneSongHeader cl_OcjeneSongHeader cl_OcjeneSongHeader ."
		". cl_OcjeneSheet cl_OcjeneTimeSignature cl_OcjeneTimeSignature cl_OcjeneTimeSignature ."
		". cl_OcjeneSheet cl_OcjeneClefs cl_OcjeneClefs cl_OcjeneClefs ."
		". cl_OcjeneSheet cl_OcjeneKey cl_OcjeneKey cl_OcjeneKey ."
		". cl_OcjeneSheet cl_OcjeneTempo cl_OcjeneTempo cl_OcjeneTempo ."
		". cl_OcjeneSheet cl_OcjeneBars cl_OcjeneBars cl_OcjeneBars ."
		/* 5 MELODIE OK */
		". cl_OcjeneSheet cl_OcjeneMelodieHeader cl_OcjeneMelodieHeader cl_OcjeneMelodieHeader ."
		". cl_OcjeneSheet cl_OcjeneInterval cl_OcjeneInterval cl_OcjeneInterval ."
		". cl_OcjeneSheet cl_OcjeneKeyOnly cl_OcjeneKeyOnly cl_OcjeneKeyOnly ."
		". cl_OcjeneSheet cl_OcjeneShowText cl_OcjeneShowText cl_OcjeneShowText ."
		/* 6  Rhytmus OK */
		". cl_OcjeneSheet cl_OcjeneRhytmusHeader cl_OcjeneRhytmusHeader cl_OcjeneRhytmusHeader ."
		". cl_OcjeneSheet cl_OcjeneMetronome cl_OcjeneMetronome cl_OcjeneMetronome ."
		". cl_OcjeneSheet cl_OcjeneNotenwert1 cl_OcjeneNotenwert4 cl_OcjeneNotenwert16 ."
		". cl_OcjeneSheet cl_OcjeneNotenwert2 cl_OcjeneNotenwert8 cl_OcjeneNotenwert32 ."
		". cl_OcjeneSheet cl_OcjeneRests cl_OcjeneRests cl_OcjeneRests ."
		". cl_OcjeneSheet cl_OcjeneDotted cl_OcjeneDotted cl_OcjeneDotted ."
		". cl_OcjeneSheet cl_OcjeneTriplet cl_OcjeneTriplet cl_OcjeneTriplet ."
		". cl_OcjeneSheet cl_OcjeneBarOverflowStop cl_OcjeneBarOverflowStop cl_OcjeneBarOverflowStop ."
		". cl_OcjeneSheet . . . .";
	grid-template-columns: 1fr auto var(--UIWidth4) var(--UIWidth4) var(--UIWidth4) 1fr;
	grid-template-rows:
		var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
		var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) auto;
	grid-gap: var(--cardGap) 0;
	justify-content: center;
}

/* -----------------layout allgemeines----------------- */
.cl_gridLine {
	grid-column: 1 /-1;
	border-bottom: var(--UIBorderThick);
}
/* 
.Text {
	max-width: var(--CardsWidth);
}

.cl_pageText {
	grid-column: 1 / -2;
	grid-row: 2;
	max-width: var(--CardsWidth);
} */

.cl_pageTextFull {
	grid-column: 1 / -1;
	grid-row: 2;
}

.cl_imageCenter {
	display: grid;
	justify-content: center;
	align-content: center;
}

/* -----------------mobile layout-------------------- */
@media screen and (max-width: 1000px) {
	:root {
		--fs-Base: clamp(0.5rem, 2vmin, 1rem);
		--mainMargin: auto clamp(2rem, 2vmin, 4rem);
	}

	nav {
		grid-template-columns: auto;
		grid-template-rows: auto;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: start;
		justify-content: flex-start;
	}

	.cl_section_horizontal {
		display: grid;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		grid-template-columns: 1fr;
		grid-gap: var(--cardGap);
		-webkit-box-pack: center;
		justify-content: center;
		align-items: center;
	}

	.cl_spanAll {
		grid-column: 1 / span 1;
	}

	.cl_subGrid_Ocjene {
		grid-template-areas:
    /* 0 Canvas */
			" . cl_OcjeneSheet cl_OcjeneSheet cl_OcjeneSheet ."
			/* 1 GENERATE */
			".  cl_OcjeneGenerate cl_OcjeneGenerate cl_OcjeneGenerate ."
			/* 2 LEVEL */
			".  cl_OcjeneLevelHeader cl_OcjeneLevelHeader cl_OcjeneLevelHeader ."
			".  cl_OcjeneLevelselect1 cl_OcjeneLevelselect1 cl_OcjeneLevelselect1 ."
			".  cl_OcjeneLevelselect2 cl_OcjeneLevelselect2 cl_OcjeneLevelselect2 ."
			".  cl_OcjeneLevelExercise cl_OcjeneLevelExercise cl_OcjeneLevelExercise ."
			/* 3 ISNTRUMENT */
			".  cl_OcjeneInstrumentHeader cl_OcjeneInstrumentHeader cl_OcjeneInstrumentHeader ."
			".  cl_OcjeneInstrument cl_OcjeneInstrument cl_OcjeneInstrument ."
			".  cl_OcjeneLimitRange cl_OcjeneLimitRange cl_OcjeneLimitRange ."
			/* 4 ALLGEMEIN */
			".  cl_OcjeneSongHeader cl_OcjeneSongHeader cl_OcjeneSongHeader ."
			".  cl_OcjeneTimeSignature cl_OcjeneTimeSignature cl_OcjeneTimeSignature ."
			".  cl_OcjeneClefs cl_OcjeneClefs cl_OcjeneClefs ."
			".  cl_OcjeneKey cl_OcjeneKey cl_OcjeneKey ."
			".  cl_OcjeneTempo cl_OcjeneTempo cl_OcjeneTempo ."
			".  cl_OcjeneBars cl_OcjeneBars cl_OcjeneBars ."
			/* 5 MELODIE OK */
			".  cl_OcjeneMelodieHeader cl_OcjeneMelodieHeader cl_OcjeneMelodieHeader ."
			".  cl_OcjeneInterval cl_OcjeneInterval cl_OcjeneInterval ."
			".  cl_OcjeneKeyOnly cl_OcjeneKeyOnly cl_OcjeneKeyOnly ."
			".  cl_OcjeneShowText cl_OcjeneShowText cl_OcjeneShowText ."
			/* 6  Rhytmus OK */
			".  cl_OcjeneRhytmusHeader cl_OcjeneRhytmusHeader cl_OcjeneRhytmusHeader ."
			".  cl_OcjeneMetronome cl_OcjeneMetronome cl_OcjeneMetronome ."
			".  cl_OcjeneNotenwert1 cl_OcjeneNotenwert4 cl_OcjeneNotenwert16 ."
			".  cl_OcjeneNotenwert2 cl_OcjeneNotenwert8 cl_OcjeneNotenwert32 ."
			".  cl_OcjeneRests cl_OcjeneRests cl_OcjeneRests ."
			".  cl_OcjeneDotted cl_OcjeneDotted cl_OcjeneDotted ."
			".  cl_OcjeneTriplet cl_OcjeneTriplet cl_OcjeneTriplet ."
			".  cl_OcjeneBarOverflowStop cl_OcjeneBarOverflowStop cl_OcjeneBarOverflowStop .";
		grid-template-columns: 1fr auto auto auto 1fr;
		grid-template-rows:
			auto
			var(--UIHeight2)
			var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
			var(--UIHeight2) var(--UIHeight1) var(--UIHeight1)
			var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1)
			var(--UIHeight2) var(--UIHeight1) var(--UIHeight1)
			var(--UIHeight2) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1) var(--UIHeight1);
		grid-gap: var(--cardGap) 0;
		justify-content: center;
	}
}

/* -------------alignment templates -------------------- */
[uiTextAlign~="left"] {
	text-align: left;
}

[uiTextAlign~="center"] {
	text-align: center;
}

[uiTextAlign~="block"] {
	display: block;
	text-align: justify;
}

[uiTextAlign~="right"] {
	text-align: right;
}

[uiAlign~="left"] {
	justify-content: start;
}

[uiAlign~="middle"] {
	-webkit-box-pack: center;
	justify-content: center;
	justify-items: center;
}

[uiAlign~="right"] {
	justify-items: flex-end;
}

[uiAlign~="top"] {
	align-items: start;
}

[uiAlign~="center"] {
	-webkit-box-align: center;
	align-items: center;
}

[uiAlign~="bottom"] {
	align-items: flex-end;
}

.img_trash {
	width: var(--imgSize);
	content: url("Images/trash.svg");
}

.img_oAdd {
	width: var(--imgSize);
	content: url("Images/oAdd.svg");
}

.img_oSub {
	width: var(--imgSize);
	content: url("Images/oSub.svg");
}

[data-btnstatus="btnPositive"] {
	/* background-color: hsl(var(--bgcButtonPositive)); */
	background: hsl(var(--bgcButtonPositive));
	color: hsl(var(--txtButtonPositive));
}

[data-btnstatus="btnNegative"] {
	background-color: hsl(var(--bgcButtonNegative));
	color: hsl(var(--txtButtonNegative));
}

[data-btnstatus="btnBasecolor"] {
	background-color: hsl(var(--bgcMain));
	color: hsl(var(--txtMain));
}

input[type="number"] {
	appearance: none;
	-moz-appearance: textfield;
	width: var(--UIWidth3);
	padding: var(--padding);
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type="checkbox"] {
	/* mox: none; because "Checkbox" does not work */
	-moz-appearance: none;
	-webkit-appearance: checkbox;
	appearance: checkbox;
	width: var(--UIHeight1);
	height: var(--imgSize);
	cursor: pointer;
}

input[type="image"] {
	height: var(--imgSize);
	width: var(--imgSize);
	background-color: transparent;
	line-height: 1;
	border-color: transparent;
	padding: 0;
	margin: 0 var(--padding);
}

.cl_infoCB,
.cl_info {
	display: inline-block;
	position: relative;
	height: var(--UIHeight1);
	background-color: hsl(var(--bgcBackground) / 0.15);
	color: hsl(var(--txtBackground));
	width: var(--UIWidth6);
	border: var(--UIBorderThin);
	border-radius: var(--UIRadius);
	text-align: center;
}

.cl_infoCB {
	width: var(--UIWidth1);
}

.cl_highlighted {
	background-color: hsl(var(--bgcButtonPositive));
	color: hsl(var(--txtButtonPositive));
}

.cl_abcHighlight {
	fill: hsl(var(--bgcButtonPositive));
}

.cl_abcCursor {
	stroke: hsl(var(--bgcButtonPositive));
}

/*                                 BUTTONSIZES AND RADIUS-TYPES!!!*/

[uiSize~="size1"] {
	width: var(--UIWidth1);
}
[uiSize~="size2"] {
	width: var(--UIWidth2);
}
[uiSize~="size3"] {
	width: var(--UIWidth3);
}
[uiSize~="size4"] {
	width: var(--UIWidth4);
}
[uiSize~="size5"] {
	width: var(--UIWidth5);
}
[uiSize~="size6"] {
	width: var(--UIWidth6);
}
[uiSize~="size7"] {
	width: var(--UIWidth7);
}
[uiSize~="size8"] {
	width: var(--UIWidth8);
}
[uiSize~="size9"] {
	width: var(--UIWidth9);
}
[uiSize~="size10"] {
	width: var(--UIWidth10);
}
[uiSize~="size11"] {
	width: var(--UIWidth11);
}
[uiSize~="size12"] {
	width: var(--UIWidth12);
}
[uiSize~="size13"] {
	width: var(--UIWidth13);
}
[uiSize~="size14"] {
	width: var(--UIWidth14);
}
[uiSize~="size15"] {
	width: var(--UIWidth15);
}
[uiSize~="size16"] {
	width: var(--UIWidth16);
}
[uiSize~="size17"] {
	width: var(--UIWidth17);
}
[uiSize~="size18"] {
	width: var(--UIWidth18);
}
[uiSize~="size19"] {
	width: var(--UIWidth19);
}
[uiSize~="size20"] {
	width: var(--UIWidth20);
}

[uiSize~="height2"] {
	height: var(--UIHeight2);
}

[uiSize~="height3"] {
	height: var(--UIHeight3);
}

[uiWrap~="nowrap"] {
	white-space: nowrap;
}

[uiRadius~="none"] {
	border-radius: 0;
}

[uiRadius~="top"] {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

[uiRadius~="right"] {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

[uiRadius~="bottom"] {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

[uiRadius~="left"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
